h1{
    color: red;
}

.card{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    width: 350px;
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background: lightblue;
}

.card img{
    width: 100%;
}

.card button{
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card button:hover{
    background: burlywood;
    cursor: pointer;
}

.navbar{
    border: 2px solid black;
    padding: 15px;
    text-align: center;
}

.navbar a{
    text-decoration: none;
    color: grey;
    padding: 15px;
}

.navbar a:hover{
    color: black;
    text-decoration: underline;
}

body{
    background: lightyellow;
    margin: 0px;
}